---
layout: page
tagline: 
---

{% for post in paginator.posts %}
<article class="post">

<header>
<h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
<span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span>
<span class="category"><i class="icon-tag"></i> {{ post.categories | category_links }}</span><br/>
<!-- <span class="author"><i class="icon&#45;user"></i> {% if post.author %}{{post.author}}{% else %}{{site.author.name}}{% endif%}</span> -->
</header>

<div class="entry">{{ post.excerpt }}</div>
</article>

{% endfor %}


<div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}{{paginator.next_page_path}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}{{paginator.previous_page_path}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div>
